<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Produits Ajout</title>
		<style>
			@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
			@import "/css/style.css"
		</style>
	</head>
	<body layout:fragment="content">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					Confirmation
				</div>
				<div class="panel-body">
					<h3 class="red">Vous n'êtes pas autorisé à accéder a cette ressource</h3>
				</div>
			</div>
		</div>
	</body>
</html>